<ejs-treegrid #treegrid [dataSource]='data'
              [enableVirtualization]='true'
              height='100%'
              childMapping='Crew'
              [treeColumnIndex]='1'
              [contextMenuItems]="contextMenuItems"
              [allowFiltering]='isFilteringAllowed'
              [allowResizing]='true'
              [editSettings]="editing"
              [showColumnChooser]= 'true'
              (contextMenuOpen)="contextMenuOpen($event)"
              (contextMenuClick)="contextMenuClick($event)"
              [selectionSettings]='selectionOptions'
              (dialogOpen)="onOpenDialog($event)">
    <e-columns id="columns">
        <e-column field='TaskID'
                  isPrimaryKey='true'
                  [headerText]='taskIDheaderText'
                  width='120'
                  [minWidth]='50'
                  textAlign="Center"
                  [defaultValue]="'Default Value'"
                  editType="stringedit"
                  id='target'>
        </e-column>
        <e-column field='FIELD1'
                  [headerText]='column2headerText'
                  width='120'
                  [minWidth]='50'
                  [defaultValue]="true"
                  editType="stringedit"
                  showColumnMenu=true>
        </e-column>
        <e-column field='FIELD2'
                  [headerText]='column3headerText'
                  width='100'
                  [minWidth]='50'
                  [defaultValue]="true"
                  editType="stringedit"
                  showColumnMenu=true>
        </e-column>
        <e-column field='FIELD3'
                  [headerText]='column4headerText'
                  width='120'
                  [minWidth]='50'
                  [defaultValue]="true"
                  editType="stringedit"
                  showColumnMenu=true>
        </e-column>
        <e-column field='FIELD4'
                  [headerText]='column5headerText'
                  width='120'
                  [minWidth]='50'
                  [defaultValue]="true"
                  editType="stringedit"
                  textAlign='Right'
                  showColumnMenu=true>
        </e-column>
    </e-columns>
</ejs-treegrid>

    <div #container class='root-container'>
        <ejs-dialog id='dialog' #ejDialog
                    (close)='closeDialog($event)'
                    (beforeClose)='checkInputs($event)'
                    [header]='dialogHeader'
                    [content]='editOrAddTemplate'
                    [visible]='false'
                    [showCloseIcon]='false'
                    [target]='targetElement'
                    [buttons]='buttons'
                    [position]="{ X: 'center', Y: 'top' }"
                    width='350px'>
        </ejs-dialog>
        <ejs-dialog id='delitDialog' #ejDialogDelete
                    (close)='closeDeleteDialog($event)'
                    header='Deleting confirmation'
                    [content]='confirmDeletion'
                    [visible]='false'
                    [showCloseIcon]='false'
                    [target]='targetElement'
                    [buttons]='deletionButtons'
                    [position]="{ X: 'center', Y: 'top' }"
                    width='350px'>
        </ejs-dialog>
        <ejs-dialog id='actionDialog' #ejDialogAction
                    (close)='closeChosenDialog($event)'
                    header='Showed or hidden columns'
                    [content]='whatNeedToDoWithChoosedColumn'
                    [visible]='false'
                    [showCloseIcon]='false'
                    [target]='targetElement'
                    [buttons]='actionButtons'
                    [position]="{ X: 'center', Y: 'top' }"
                    width='450px'>
        </ejs-dialog>
    </div>

    <ng-template #dialogHeader>
        <div>{{ dialogHeaderText }}</div>
    </ng-template>

    <ng-template #editOrAddTemplate>
        <div class="form-row" [formGroup]="addOrEditForm">
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <input formControlName="columnName" id="columnName" name="columnName" type="text">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="columnName">header name  </label>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper" id="dataType">
                    <label class="e-label-top" for="dataType">data type  </label>
                    <select formControlName="columnDataType" id="columnDataType" name="columnDataType">
                        <option value="stringedit" selected>string</option>
                        <option value="numericedit">number</option>
                        <option value="dropdownedit">dropdown</option>
                        <option value="checkboxedit">checkbox</option>
                        <option value="datapickeredit">datapicker</option>
                        <option value="datatimepickeredit">datatimepicker</option>
                    </select>
                    <span class="e-float-line"></span>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <input formControlName="columnDefaultValue" id="columnDefaultValue" name="columnDefaultValue" type="text">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="columnDefaultValue">default value</label>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <input formControlName="columnMinWidth" id="columnMinWidth" name="columnMinWidth" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="columnMinWidth">Min Width</label>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <input formControlName="columnFontSize" id="columnFontSize" name="columnFontSize" type="number">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="columnFontSize">Font Size</label>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <input  ejs-colorpicker formControlName="columnFontColor" id="columnFontColor" name="columnFontColor" type="color">
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="columnFontColor">Font Color</label>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <input ejs-colorpicker formControlName="columnBackgroundColor" id="columnBackgroundColor" name="columnBackgroundColor" type='color' />
                    <span class="e-float-line"></span>
                    <label class="e-float-text e-label-top" for="columnBackgroundColor">Background Color</label>
                </div>
            </div>
            <div class="form-group col-md-6" *ngIf="true">
                <div class="e-float-input e-control-wrapper">
                    <label class="e-label-top" for="columnTextAligh">Text Aligh  </label>
                    <select formControlName="columnTextAligh" id="columnTextAligh" name="columnTextAligh" >
                        <option value="Left">Left</option>
                        <option value="Center">Center</option>
                        <option value="Right">Right</option>
                    </select>
                    <span class="e-float-line"></span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #confirmDeletion>
        <h3>Are you sure? This action can't be canceled</h3>
    </ng-template>

    <ng-template #whatNeedToDoWithChoosedColumn>
        <ul>
            <li *ngFor="let column of visibleColumns" style="list-style-type: none;">
                <input type="checkbox" name="column.field" id="column.field" [checked]="column.visible" (click)="returnIsColumnVisible(column)">
                <label for="column.id">{{ column.headerText }}</label>
            </li>
        </ul>
    </ng-template>
